<!-- Primary Page Layout
	================================================== -->
<div class="section big-55-height over-hide z-bigger customClass">

    <div class="parallax parallax-top" style="background-image: url('../img/Hotel3.jpg')"></div>
    <div class="dark-over-pages"></div>

    <div class="hero-center-section pages">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text">Our Apartments</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container sliderContainerClass" id="fixed">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="booking-hero-wrap customWrapper">
                <div class="row justify-content-center customJustifier">
                    <div class="col-10">
                        <!-- <select class="wide nice-select select2"> -->
                        <select class="wide nice-select">
                            <option value="Kalam">Kalam</option>
                            <option value="Malamjabba">Malamjabba</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Madyan">Madyan</option>
                            <option value="Utror">Utror</option>
                            <option value="GabinJabba">GabinJabba</option>
                        </select>
                    </div>

                    <div class="col-6 col-sm-4 col-lg-2">
                        <a class="booking-button" href="search.html">Search!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom over-hide background-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room1.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Utror.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartments">Check Apartments</a>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room2.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartments">Check Apartments</a>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>



            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room2.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Mahodand.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartments">Check Apartments</a>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4 mt-md-0" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
                <div class="room-box background-white">
                    <img src="../img/room5.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Demo Apartment</h5>
                        <p class="mt-3"><strong>Address: </strong> Kalam, Behrain.</p>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartments">Check Apartments</a>
                        <a class="mt-1 btn btn-primary" href="/Appartments/appartmentGallery">Gallery</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>