<!-- Primary Page Layout
	================================================== -->
<div class="section big-55-height over-hide z-bigger customClass">

	<div class="parallax parallax-top" style="background-image: url('../img/old-town-by-welcome-apartment.jpg')"></div>
	<div class="dark-over-pages"></div>

	<div class="hero-center-section pages">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 parallax-fade-top">
					<div class="hero-text">Our Appartment</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container sliderContainerClass" id="fixed">
	<div class="row">
		<div class="col-12 mt-3">
			<div class="booking-hero-wrap customWrapper">
				<div class="row justify-content-center customJustifier">
					<div class="col-3">
						<!-- <select class="wide nice-select select2"> -->
						<select name="" class="wide">
							<option value="0">Economic</option>
							<option value="1">Luxury</option>
						</select>
					</div>

					<div class="col-2">
						<!-- <select class="wide nice-select select2"> -->
						<select name="" class="wide">
							<option data-display="parking">Parking</option>
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
					</div>

					<div class="col-5 no-mob">
						<div class="row">
							<div class="col-6">
								<select name="adults" class="wide">
									<option data-display="adults">adults</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>

							<div class="col-6">
								<select name="children" class="wide">
									<option data-display="children">children</option>
									<option value="0">0</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-6  col-sm-4 col-lg-2">
						<a class="booking-button" href="search.html">Search!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section padding-top-bottom over-hide background-grey">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
				<div class="room-box background-white">
					<div class="room-name">suite andrea</div>
					<div class="room-per">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img src="../img/room5.jpg" alt="">
					<div class="room-box-in">
						<h5 class="">Appartment</h5>
						<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et.</p>
						<a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 5,000 PKR</a>
						<a class="mt-1 btn btn-info" href="rooms-gallery.html">Full Info</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.4s">
				<div class="room-box background-white">
					<div class="room-name">suite diana</div>
					<div class="room-per">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img src="../img/room6.jpg" alt="">
					<div class="room-box-in">
						<h5 class="">big Appartment</h5>
						<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et.</p>
						<a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 8,000 PKR</a>
						<a class="mt-1 btn btn-info" href="rooms-gallery.html">Full Info</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.2s">
				<div class="room-box background-white">
					<div class="room-name">suite andrea</div>
					<div class="room-per">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img src="../img/room5.jpg" alt="">
					<div class="room-box-in">
						<h5 class="">Appartment</h5>
						<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et.</p>
						<a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 15,000 PKR</a>
						<a class="mt-1 btn btn-info" href="rooms-gallery.html">Full Info</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 mt-4" data-scroll-reveal="enter bottom move 50px over 0.7s after 0.4s">
				<div class="room-box background-white">
					<div class="room-name">suite diana</div>
					<div class="room-per">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<img src="../img/room6.jpg" alt="">
					<div class="room-box-in">
						<h5 class="">big Appartment</h5>
						<p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo
							inventore veritatis et.</p>
						<a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 20,000 PKR</a>
						<a class="mt-1 btn btn-info" href="rooms-gallery.html">Full Info</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="section background-dark over-hide">
		<div class="container-fluid py-4">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<a href="services.html">
						<div class="img-wrap services-wrap">
							<img src="img/ser-1.jpg" alt="">
							<div class="services-text-over">spa salon</div>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-lg-3 pt-4 pt-sm-0">
					<a href="services.html">
						<div class="img-wrap services-wrap">
							<img src="img/ser-2.jpg" alt="">
							<div class="services-text-over">restaurant</div>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-lg-3 pt-4 pt-lg-0">
					<a href="services.html">
						<div class="img-wrap services-wrap">
							<img src="img/ser-3.jpg" alt="">
							<div class="services-text-over">pool</div>
						</div>
					</a>
				</div>
				<div class="col-sm-6 col-lg-3 pt-4 pt-lg-0">
					<a href="services.html">
						<div class="img-wrap services-wrap">
							<img src="img/ser-4.jpg" alt="">
							<div class="services-text-over">activities</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div> -->