<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Areas</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Areas</li>
              <li class="breadcrumb-item active">Edit Area</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Edit Area</h3>
              </div>
              <div class="card-body">
                <form action="/Areas/editArea" method="POST">
                    <div class="form-group">
                        <label for="Area">Area Name</label>
                        <input type="text" name="areaName" value="<%= area.name %>" class="form-control" required />
                      </div>
                      <input type="hidden" name="areaId" value=<%= area.id %>  />
                    <hr>
                    <div class="form-group">
                        <a class="btn btn-secondary  btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                        <button class="btn btn-success btn-sm" type="submit" name="addArea">Edit Area</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>