<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Rooms</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Room</li>
              <li class="breadcrumb-item active">Add Room</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Add Room</h3>
              </div>
              <div class="card-body">
                <form action="/Rooms/addRoom" method="POST">
                    <h5><b>Hotel Details</b></h5><hr>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Select Hotel</label>
                            <select class="form-control select2" name="hotelId">
                                <option value="1">Continental</option>
                                <option value="2">Serena</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>Select Hotel Area</label>
                            <select class="form-control select2" name="areaId">
                                <option value="1">Behrain - Near Shell Ptrol Station, Madyan Bazar</option>
                                <option value="2">Kalam - Near Shell Ptrol Station, Madyan Bazar</option>
                                <option value="3">Madyan - Near Shell Ptrol Station, Madyan Bazar</option>
                            </select>
                        </div>
                    </div>

                    <hr>
                    <h5><b>Room Details</b></h5><hr>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Select Beds</label>
                            <select class="form-control" name="beds">
                                <option value="1">Single Bedded</option>
                                <option value="2">2 Bedded</option>
                                <option value="3">3 Bedded</option>
                                <option value="4">4 Bedded</option>
                                <option value="5">5 Bedded</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Hot Water</label>
                            <select class="form-control" name="hotWater">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Heater</label>
                            <select class="form-control" name="heater">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Balcony</label>
                            <select class="form-control" name="balcony">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Room Service</label>
                            <select class="form-control" name="roomServices">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Room Status</label>
                            <select class="form-control" name="status">
                                <option value="true">Available</option>
                                <option value="false">Not Available</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Location</label>
                            <input type="text" name="location" placeholder="i.e: 3rd Floor" class="form-control" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Room Charges</label>
                            <input type="number" name="charges" placeholder="i.e: 5000" class="form-control" required>
                        </div>

                        <div class="form-group col-md-4">
                          <label>Room No</label>
                          <input type="number" name="roomNo" placeholder="i.e: 5" class="form-control" required>
                      </div>
                    </div>


                    <hr>
                    <div class="form-group">
                        <a class="btn btn-secondary btn-sm" name="cancel" type="submit" onclick="history.back(-1)">Cancel</a>
                        <button class="btn btn-success btn-sm" type="submit" name="">Add Room</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>