<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Hotels</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Hotel</li>
              <li class="breadcrumb-item active">Hotels Gallery List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Hotels Gallery List</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="tableData" class="table table-striped table-hover">
                      <thead>
                        <tr>
                            <th>S#</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Area</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>1</td>
                            <td>Continental</td>
                            <td>0946712845</td>
                            <td>Kalam</td>
                            <td><span class="badge badge-primary">Approved</span></td>
                            <td>
                                <a href="/Hotels/viewHotelImages" class="btn btn-info btn-sm">View Gallery <i class="fa fa-eye"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Continental</td>
                            <td>0946712845</td>
                            <td>Kalam</td>
                            <td><span class="badge badge-danger">Unapproved</span></td>
                            <td>
                                <a href="/Hotels/viewHotelImages" class="btn btn-info btn-sm">View Gallery <i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <th>S#</th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Area</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>